## importing libraries

In [268]:
import pandas as pd
import numpy as np

## reading the data

In [326]:
data = pd.read_csv("C:/Users/jahnavi/Desktop/python/novartis/Train.csv")

In [327]:
data.head(5)

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15,MULTIPLE_OFFENSE
0,CR_102659,04-JUL-04,0,36,34,2,1,5,6,1,6,1,174,1.0,92,29,36,0
1,CR_189752,18-JUL-17,1,37,37,0,0,11,17,1,6,1,236,1.0,103,142,34,1
2,CR_184637,15-MAR-17,0,3,2,3,5,1,0,2,3,1,174,1.0,110,93,34,1
3,CR_139071,13-FEB-09,0,33,32,2,1,7,1,1,6,1,249,1.0,72,29,34,1
4,CR_109335,13-APR-05,0,33,32,2,1,8,3,0,5,1,174,0.0,112,29,43,1

In [328]:
data.shape

(23856, 18)

## checking null values

In [329]:
data.isnull().sum()

INCIDENT_ID           0
DATE                  0
X_1                   0
X_2                   0
X_3                   0
X_4                   0
X_5                   0
X_6                   0
X_7                   0
X_8                   0
X_9                   0
X_10                  0
X_11                  0
X_12                182
X_13                  0
X_14                  0
X_15                  0
MULTIPLE_OFFENSE      0
dtype: int64

In [330]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23856 entries, 0 to 23855
Data columns (total 18 columns):
INCIDENT_ID         23856 non-null object
DATE                23856 non-null object
X_1                 23856 non-null int64
X_2                 23856 non-null int64
X_3                 23856 non-null int64
X_4                 23856 non-null int64
X_5                 23856 non-null int64
X_6                 23856 non-null int64
X_7                 23856 non-null int64
X_8                 23856 non-null int64
X_9                 23856 non-null int64
X_10                23856 non-null int64
X_11                23856 non-null int64
X_12                23674 non-null float64
X_13                23856 non-null int64
X_14                23856 non-null int64
X_15                23856 non-null int64
MULTIPLE_OFFENSE    23856 non-null int64
dtypes: float64(1), int64(15), object(2)
memory usage: 3.3+ MB

In [331]:
def inspect_data(data):
    return pd.DataFrame({"Data Type":data.dtypes,"No of Levels":data.apply(lambda x: x.unique().shape[0],axis=0), "Levels":data.apply(lambda x: str(x.unique()),axis=0)})

In [332]:
inspect_data(data)

,Data Type,No of Levels,Levels
INCIDENT_ID,object,23856,['CR_102659' 'CR_189752' 'CR_184637' ... 'CR_1...
DATE,object,9121,['04-JUL-04' '18-JUL-17' '15-MAR-17' ... '14-S...
X_1,int64,8,[0 1 5 7 3 4 2 6]
X_2,int64,52,[36 37 3 33 45 30 8 49 4 7 25 21 47 22 15 16 1...
X_3,int64,52,[34 37 2 32 45 35 7 49 4 8 25 23 48 22 14 15 1...
X_4,int64,10,[2 0 3 10 7 6 9 4 1 5]
X_5,int64,5,[1 0 5 3 2]
X_6,int64,19,[5 11 1 7 8 9 15 2 4 13 3 16 6 18 12 17 14 10 19]
X_7,int64,19,[6 17 0 1 3 8 10 7 2 18 5 12 4 13 16 11 14 15 9]
X_8,int64,24,[1 2 0 3 4 5 7 6 12 10 8 20 11 15 9 99 14 13 3...
X_9,int64,7,[6 3 5 1 2 0 4]
X_10,int64,24,[1 2 3 4 6 12 5 11 10 90 20 8 16 30 19 7 50 9 ...
X_11,int64,133,[174 236 249 303 316 145 0 127 299 158 12 74 3...
X_12,float64,24,[1.0 0.0 3.0 2.0 6.0 12.0 4.0 nan 5.0 11.0 90....
X_13,int64,60,[92 103 110 72 112 42 18 2 98 67 116 111 12 34...
X_14,int64,62,[29 142 93 62 14 130 133 115 53 80 103 77 107 ...
X_15,int64,28,[36 34 43 48 46 0 23 9 50 39 24 14 21 41 8 18 ...
MULTIPLE_OFFENSE,int64,2,[0 1]

#### As INCIDENT_ID','DATE  are not usefull for the analysis i am droping these columns

In [333]:
data.drop(['INCIDENT_ID','DATE'], axis=1, inplace=True)

In [334]:
data.shape

(23856, 16)

### The column X_12 is having the null values.I am replacing the null values with the median value

In [335]:
data['X_12'].fillna(data['X_12'].median(), inplace=True)

In [336]:
data.isnull().sum()

X_1                 0
X_2                 0
X_3                 0
X_4                 0
X_5                 0
X_6                 0
X_7                 0
X_8                 0
X_9                 0
X_10                0
X_11                0
X_12                0
X_13                0
X_14                0
X_15                0
MULTIPLE_OFFENSE    0
dtype: int64

In [337]:
data.columns

Index(['X_1', 'X_2', 'X_3', 'X_4', 'X_5', 'X_6', 'X_7', 'X_8', 'X_9', 'X_10',
       'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'MULTIPLE_OFFENSE'],
      dtype='object')

### identifing the independent and dependent variables

In [343]:
y = data['MULTIPLE_OFFENSE']
X = data[data.columns.difference(['MULTIPLE_OFFENSE'])]
print(y.shape)
print(X.shape)

(23856,)
(23856, 15)

### spliting the data into train and validation

In [344]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=421)

print(X_train.shape)
print(X_valid.shape)

(16699, 15)
(7157, 15)

### buliding model by using randomforest

In [283]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
print(rfc.score(X_train, y_train))
print(rfc.score(X_valid, y_valid))

1.0
0.9917563224814867

In [284]:
from sklearn.metrics import confusion_matrix
y_pred = rfc.predict(X_valid)
confusion_matrix = confusion_matrix(y_pred, y_valid)
print(confusion_matrix)

[[ 281   11]
 [  48 6817]]

In [285]:
from sklearn.metrics import classification_report
print(classification_report(y_valid, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.85      0.90       329
           1       0.99      1.00      1.00      6828

    accuracy                           0.99      7157
   macro avg       0.98      0.93      0.95      7157
weighted avg       0.99      0.99      0.99      7157

In [364]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [373]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
rfc = RandomForestClassifier()
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}
grid_search = GridSearchCV(estimator=rfc,param_grid=param_grid,cv=5)

In [374]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [375]:
print(grid_search.best_score_)

0.985508013622351

In [376]:
print(grid_search.best_estimator_)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='log2',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [377]:
grid_search.best_params_

{'criterion': 'gini',
 'max_depth': 8,
 'max_features': 'log2',
 'n_estimators': 500}

In [379]:
rfc1=RandomForestClassifier(random_state=42, max_features='log2', n_estimators= 200, max_depth=8, criterion='gini')
rfc1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='log2',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [380]:
y_pred = rfc1.predict(X_valid)

In [382]:
print(rfc1.score(X_train, y_train))
print(rfc1.score(X_valid, y_valid))

0.9909575423678064
0.9857482185273159

In [381]:
from sklearn.metrics import classification_report
print(classification_report(y_valid, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.71      0.82       329
           1       0.99      1.00      0.99      6828

    accuracy                           0.99      7157
   macro avg       0.98      0.86      0.91      7157
weighted avg       0.99      0.99      0.98      7157

## xgboost

In [442]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost
params={
    "learning_rate"    : [0.05, 0.10, 0.20, 0.30, 0.40, 0.50],
    "max_depth"        : [3, 5, 6, 8, 10, 12, 15],
    "min_child_weight" : [1, 3, 4, 5, 8],
    "gamma"            : [0.0, 0.1, 0.2, 0.4, 0.6],
    "colsample_bytree" : [0.4, 0.6, 0.7, 0.8]
}

In [443]:
classifier=xgboost.XGBClassifier(class_weight='balanced')

In [444]:
random_search=RandomizedSearchCV(classifier,param_distributions=params,n_iter=5,
                                scoring='accuracy',n_jobs=-1,cv=5,verbose=3)

In [445]:
random_search.fit(X_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:   16.5s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           class_weight='balanced',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=0, reg...
                                           verbosity=1),
                   iid='deprecated', n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.4, 0.6, 0.7,
                                                             0.8],
                                        'gamma': [0.0, 0.1, 0.2, 0.4, 0.6],
                                        'learning_rate': [0.05, 0.1, 0.2, 0.3,
                                                          0.4, 0.5],
                                        'max_depth': [3, 5, 6, 8, 10, 12, 15],
                                        'min_child_weight': [1, 3, 4, 5, 8]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=3)

In [446]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', class_weight='balanced',
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.4,
              gamma=0.1, learning_rate=0.4, max_delta_step=0, max_depth=8,
              min_child_weight=4, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [447]:
random_search.best_params_

{'min_child_weight': 4,
 'max_depth': 8,
 'learning_rate': 0.4,
 'gamma': 0.1,
 'colsample_bytree': 0.4}

In [476]:
classifier1=xgboost.XGBClassifier(base_score=0.5, booster='gbtree', class_weight='balanced',
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.4,
              gamma=0.1, learning_rate=0.4, max_delta_step=0, max_depth=8,
              min_child_weight=4, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1)

In [477]:
classifier1.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', class_weight='balanced',
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.4,
              gamma=0.1, learning_rate=0.4, max_delta_step=0, max_depth=8,
              min_child_weight=4, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [479]:
print(classifier1.score(X_train, y_train))
print(classifier1.score(X_valid, y_valid))

0.9998802323492425
0.9988822132178287

In [480]:
y_pred = classifier1.predict(X_valid)

In [481]:
from sklearn.metrics import classification_report
print(classification_report(y_valid, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99       329
           1       1.00      1.00      1.00      6828

    accuracy                           1.00      7157
   macro avg       1.00      0.99      0.99      7157
weighted avg       1.00      1.00      1.00      7157

## loading test data

In [498]:
test = pd.read_csv("C:/Users/jahnavi/Desktop/python/novartis/Test.csv")

In [499]:
test.head(5)

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15
0,CR_195453,01-FEB-18,0,30,35,7,3,6,4,0,5,1,174,NaN,72,119,23
1,CR_103520,05-MAR-04,0,44,44,1,3,7,1,4,6,1,316,0.0,12,29,34
2,CR_196089,27-JAN-18,0,34,33,3,5,2,7,3,0,1,316,1.0,72,0,34
3,CR_112195,18-AUG-06,7,3,2,3,5,9,8,0,5,1,174,1.0,112,87,34
4,CR_149832,31-OCT-11,0,7,8,7,3,2,7,1,5,1,174,0.0,112,93,43

In [500]:
test.shape

(15903, 17)

In [501]:
X_train.columns

Index(['X_1', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_2', 'X_3',
       'X_4', 'X_5', 'X_6', 'X_7', 'X_8', 'X_9'],
      dtype='object')

In [502]:
df = pd.DataFrame(test,columns=['X_1', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_2', 'X_3',
       'X_4', 'X_5', 'X_6', 'X_7', 'X_8', 'X_9'])

In [503]:
df.shape

(15903, 15)

### checking null values

In [504]:
df.isnull().sum()

X_1       0
X_10      0
X_11      0
X_12    127
X_13      0
X_14      0
X_15      0
X_2       0
X_3       0
X_4       0
X_5       0
X_6       0
X_7       0
X_8       0
X_9       0
dtype: int64

### As INCIDENT_ID','DATE are not useful for our analysis i am droping them

In [505]:
#test.drop(['INCIDENT_ID','DATE'], axis=1, inplace=True)

In [506]:
#test.shape

### The column X_12 is having the null values.I am replacing the null values with the median value

In [507]:
df['X_12'].fillna(df['X_12'].median(), inplace=True)

In [508]:
df.isnull().sum()

X_1     0
X_10    0
X_11    0
X_12    0
X_13    0
X_14    0
X_15    0
X_2     0
X_3     0
X_4     0
X_5     0
X_6     0
X_7     0
X_8     0
X_9     0
dtype: int64

In [509]:
y_pred_df = classifier1.predict(df)

In [510]:
print(y_pred_df.shape)

(15903,)

In [511]:
df['MULTIPLE_OFFENSE'] = y_pred_df

In [512]:
#df.shape

In [513]:
#test.columns

In [514]:
## Creating submission file

In [515]:
submission = pd.DataFrame(test, columns = ['INCIDENT_ID'])

In [516]:
submission['MULTIPLE_OFFENSE'] = y_pred_df

In [517]:
submission.head(5)

  INCIDENT_ID  MULTIPLE_OFFENSE
0   CR_195453                 1
1   CR_103520                 1
2   CR_196089                 1
3   CR_112195                 1
4   CR_149832                 1

In [518]:
submission.to_csv('submission_file.csv',index=False)